<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Rudrik.StatusQuotes"
    android:versionCode="3"
    android:versionName="1.0.2">

    <uses-sdk android:minSdkVersion="8" />
    <!--Dont Change Version-->
    <!--<supports-screens-->
    <!--android:smallScreens="true"-->
    <!--android:normalScreens="true"-->
    <!--android:largeScreens="true"-->
    <!--android:xlargeScreens="true"-->
    <!--android:anyDensity="true"/>-->

    <!--<compatible-screens>-->
    <!--&lt;!&ndash; all small size screens &ndash;&gt;-->
    <!--<screen android:screenSize="small" android:screenDensity="ldpi" />-->
    <!--<screen android:screenSize="small" android:screenDensity="mdpi" />-->
    <!--<screen android:screenSize="small" android:screenDensity="hdpi" />-->
    <!--<screen android:screenSize="small" android:screenDensity="xhdpi" />-->


    <!--&lt;!&ndash;all normal size screens &ndash;&gt;-->
    <!--<screen android:screenSize="normal" android:screenDensity="ldpi" />-->
    <!--<screen android:screenSize="normal" android:screenDensity="mdpi" />-->
    <!--<screen android:screenSize="normal" android:screenDensity="hdpi" />-->
    <!--<screen android:screenSize="normal" android:screenDensity="xhdpi" />-->

    <!--&lt;!&ndash; all large size screens &ndash;&gt;-->
    <!--<screen android:screenSize="large" android:screenDensity="ldpi" />-->
    <!--<screen android:screenSize="large" android:screenDensity="mdpi" />-->
    <!--<screen android:screenSize="large" android:screenDensity="hdpi" />-->
    <!--<screen android:screenSize="large" android:screenDensity="xhdpi" />-->

    <!--&lt;!&ndash; all xlarge size screens &ndash;&gt;-->
    <!--<screen android:screenSize="xlarge" android:screenDensity="ldpi" />-->
    <!--<screen android:screenSize="xlarge" android:screenDensity="mdpi" />-->
    <!--<screen android:screenSize="xlarge" android:screenDensity="hdpi" />-->
    <!--<screen android:screenSize="xlarge" android:screenDensity="xhdpi" />-->

    <!--&lt;!&ndash; Special case for Nexus 7 &ndash;&gt;-->
    <!--<screen android:screenSize="large" android:screenDensity="213" />-->

    <!--<screen android:screenSize="normal" android:screenDensity="480" />-->
    <!--<screen android:screenSize="large" android:screenDensity="480" />-->
    <!--<screen android:screenSize="xlarge" android:screenDensity="480" />-->
    <!--</compatible-screens>-->

    <!-- Airpush Permission's -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Airpush Permission's End -->

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.Rudrik.StatusQuotes.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Rudrik.StatusQuotes.activity.MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Rudrik.StatusQuotes.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CategoryActivity"
            android:screenOrientation="portrait" />

        <!--airpush Start-->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.mqnvnfx.itwsdvr70223.AdActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.mqnvnfx.itwsdvr70223.BrowserActivity"
            android:configChanges="orientation|screenSize" />

        <service
            android:name="com.mqnvnfx.itwsdvr70223.LService"
            android:exported="false"></service>
        <receiver
            android:name="com.mqnvnfx.itwsdvr70223.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <!--airpush end-->
    </application>
</manifest>
